In [1]:
import bin.execution.executor

In [2]:
def main():
    executor = bin.execution.executor.Executor(display=True)
    executor.execute_test_networks()

In [3]:
if __name__ == "__main__" :
        main()

**<div style='text-align: center;'><span style='color:white; font-size:24px; text-align:center'>1. Prepare test, train and validation data</span></div>**

Loading test, train and validation data into pandas data-frames...

**<span style='color:yellow'>test_data_frame</span>**

                           Filename  Label    ClassName
0    AnnualCrop/AnnualCrop_1275.jpg      0   AnnualCrop
1   Residential/Residential_504.jpg      7  Residential
2           Pasture/Pasture_787.jpg      5      Pasture
3  Residential/Residential_1575.jpg      7  Residential
4           Pasture/Pasture_473.jpg      5      Pasture

**<span style='color:yellow'>train_data_frame</span>**

,Filename,Label,ClassName
0,AnnualCrop/AnnualCrop_142.jpg,0,AnnualCrop
1,HerbaceousVegetation/HerbaceousVegetation_2835...,2,HerbaceousVegetation
2,PermanentCrop/PermanentCrop_1073.jpg,6,PermanentCrop
3,Industrial/Industrial_453.jpg,4,Industrial
4,HerbaceousVegetation/HerbaceousVegetation_1810...,2,HerbaceousVegetation

**<span style='color:yellow'>val_data_frame</span>**

                   Filename  Label ClassName
0  Pasture/Pasture_1481.jpg      5   Pasture
1    Forest/Forest_2638.jpg      1    Forest
2   Highway/Highway_875.jpg      3   Highway
3       River/River_434.jpg      8     River
4  SeaLake/SeaLake_2930.jpg      9   SeaLake

Execution time: 0.04s

**<span style='color:white'>**---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**</span>**

**<div style='text-align: center;'><span style='color:white; font-size:24px; text-align:center'>2. Load test, train and validation data into memory</span></div>**

Loading test, train and validation data into memory...
Execution time: 8.39s

**<span style='color:white'>**---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**</span>**

**<div style='text-align: center;'><span style='color:white; font-size:24px; text-align:center'>3. Test all saved networks</span></div>**

Testing: network_A_2257130122
85/85 [==============================] - 0s 1ms/step - loss: 1.6515 - accuracy: 0.3815


Testing: network_B_1553150122
85/85 [==============================] - 1s 8ms/step - loss: 0.6651 - accuracy: 0.7607


Testing: network_B_2258130122
85/85 [==============================] - 1s 8ms/step - loss: 1.2434 - accuracy: 0.5737


Testing: network_B_2300130122
85/85 [==============================] - 1s 8ms/step - loss: 1.0668 - accuracy: 0.6233


Testing: network_B_2304130122
85/85 [==============================] - 1s 8ms/step - loss: 1.1242 - accuracy: 0.5759


Testing: network_B_2307130122
85/85 [==============================] - 1s 8ms/step - loss: 1.1367 - accuracy: 0.5844


Execution time: 10.26s